* {
  font-family: 'Roboto Condensed', sans-serif;
}
.backgroundImage {
 height: 100%;
 width: 100%;
}
html {
  background-image: repeating-linear-gradient(45deg, rgba(226, 226, 226,0.06) 0px, rgba(226, 226, 226,0.06) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
  background-color: black;
  height: 100%;

}

.mainWrap {
  border-style: solid;
  border-color: black;

  background-image: repeating-linear-gradient(284deg, transparent 0px, transparent 1px,rgb(251,251,251) 1px, rgb(251,251,251) 3px),repeating-linear-gradient(14deg, transparent 0px, transparent 1px,rgb(251,251,251) 1px, rgb(251,251,251) 3px),linear-gradient(90deg, rgb(222,222,222),rgb(222,222,222));
  background-size: cover;
  position: absolute;
  top: 15%;
  left: 15%;
  margin: auto;
  height: 70%;
  width: 70%;
  }
  .mainWrapAbout {
    border-style: solid;
    border-color: black;
    background-color: rgba(227, 227, 227, 0.886);
    position: absolute;
    top: 15%;
    left: 15%;
    margin: auto;
    height: 70%;
    width: 70%;
    }

  .navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    padding-left: .15rem;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
  }
  .nav-item {
    padding-right: 30px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  a {
    color: rgba(255,255,255,.55);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: rgba(228, 226, 226, 0.872);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
  }
.folderFigureAS {
  position: relative;
  left: 90%;
}

.folderAS {
  background: transparent no-repeat;
  top: 80px;
  content: "";
  display: block;
  position: absolute;
  left: 89%;
  border: none;
  transform: translateX(-50%);
  width: 70px;
}
.folderBeats {
  background: transparent no-repeat;
  top: 170px;
  content: "";
  display: block;
  position: absolute;
  left: 89%;
  border: none;
  transform: translateX(-50%);
  width: 70px;
}
.folderBass {
  background: transparent no-repeat;
  top: 100px;
  content: "";
  display: block;
  position: absolute;
  left: 70%;
  border: none;
  transform: translateX(-50%);
  width: 70px;
}
.folderImg {
height: 50px;
width: 57px;
}

.folderASText {
  border: black;
  border-style: solid;
  border-width: 0.2px;
  padding-right: 5px;
  padding-left: 5px;
  width: 70px;
  background-color: gainsboro;

}
.file {
  height: 40px;
  width: 40px;
}
.song-card {
  width: 30%;
  height: 8rem;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}
.bass-modal-body {
  display: flex;
  flex-wrap: wrap;
}

/* Model Drag and Resize functionality */
.flexible-modal {
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;
}
.my-modal {
 background-color: azure;
}
.flexible-modal-mask {
  position: fixed;
  height: 0%;
  background: none;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.flexible-modal-resizer {
  position:absolute;
  right:0;
  bottom:0;
  cursor:se-resize;
  margin:5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}
.flexible-modal-drag-area{
  background: rgba(22, 22, 333, 0.2);
  height: 30px;
  position:absolute;
  right:0;
  top:0;
  cursor:move;
}
.flexible-modal-drag-area-right {
  position: absolute;
}
.flexible-modal-drag-area-left {
  position: absolute;
}

/* End Model Drag and Resize functionality */